body{
	font-size: 1.2em;
	color: #000000;
	/*background-color: #FEC0FA;*/
	background-color: #FFCCFF;
	font-family: sans-serif;
}

/*  ------
	------
	HEADER
	------
	--- */

#header-nav{
	border-radius: 0px;
	border: 0px;
	background-color: #7E007E;
}

/* THE NAME OF THE BRAND*/
.navbar-brand {
	padding: 10px 0px 20px 10px;
	margin: 10px;
	min-height: 100px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: black;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #7F7F7F;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	line-height: 1.5;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


/* Menu Items */
#nav-list{
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FF68FF;
}

#nav-list a {
	color: black;
	text-align: center;
}

#nav-list a:hover {
	color: grey;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	margin-top: 45px;
}

/*  ----------------
	----------------
	HEADER ENDS HERE
	----------------
	------------- */

/*  ------------------------
	------------------------
	MAIN CONTENT STARTS HERE
	------------------------
	--------------------- */
.container .jumbotron{
	padding: 0px;
	margin: 20px;
	border-radius: 0px;
}

p {
	margin: 20px;
}