body{
	font-size: 1.2em;
	color: #000000;
	/*background-color: #FEC0FA;*/
	background-color: #DDC6FF;
	font-family: sans-serif;
}

/* HEADER */
#header-nav{
	border-radius: 0px;
	border: 0px;
	background-color: #7E007E;
}

/* LOGO IMAGES, LARGE AND SMALL*/
#logo-img{
	background-image: url("../images/batman_burned.png");
	background-repeat: no-repeat;
	width: 290px;
	height: 160px;
	margin: 20px;
}

#logo-img-small{
	background-image: url("../images/batman_burned_small.png");
	background-repeat: no-repeat;
	width: 174px;
	height: 96px;
	margin: 5px;	
}

/* THE NAME OF THE BRAND*/
.navbar-brand {
	padding: 20px 0px 20px 10px;
	max-width: 220px;
	margin: 0px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: black;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #7F7F7F;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p{
	color: black;
	text-transform: uppercase;
	font-size: 0.5em;
}

.navbar-brand span{
	vertical-align: middle;
}

/* Kustice League image*/
img.resize{
	height: 20px;
	width: 20px;
}
