body{
	font-size: 1.2em;
	color: #000000;
	/*background-color: #FEC0FA;*/
	background-color: #DDC6FF;
	font-family: sans-serif;
}

#header-nav{
	border-radius: 0px;
	border: 0px;
	background-color: #7E0099;
}

#logo-img{
	background-image: url('../images/batman-burned.png') no-repeat;
	width: 290px;
	height: 160px;
	margin: 20px 20px 20px 20px;
}